@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


    