*{margin: 0;
padding: 0;}

.container
{
    width: 100%;
    height: 100%;
}

body,html
{
    overflow-x: hidden;
}

.navigation-container
{
    background-color: #F8F0F0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.navigation-container h1
{
    font-weight: normal;
    font-family: 'Italiana', serif;
    font-size: 220px;
}

.navigation-container span
{
    display: block;
    top: 0px;
    position: relative;
  
}
.hidertext_second
{
    font-size: 90px;
    position: relative;
    margin-left: 500px;
}
.hidertext_third
{
    
    margin-left: 150px;
}

.about-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.ab__sec_cont
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}
.img_block
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.ab_info
{
   
    width: 50%;
    height: 100%;
}
.ab__info
{
    flex-direction: column;
    display: flex;
    justify-content: center;

}
.ab__info div
{
    margin: 20px;
}
.ab__text
{
    margin-top: 50px;
    line-height: 1.5;
    max-width: 600px;
    opacity: 1;
}
.img
{
    transform-origin: center;
    transform: scale(0.7);
    transition:  1s;
    position: absolute;
    clip-path: inset(0% 99.999% 0% 0%);
    height: 700px;
    width: 500px;

}
.ab_text_cl
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.ab__title
{
    font-size: 25px; 
    font-family: 'Museo Sans 500 Medium';
}
.ab__text
{

 line-height: 1.65;
font-size: 20px; 
font-family: 'Museo Sans 500 Medium';
}

.contact-container
{
    overflow: hidden;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: flex-end; 
  
}

.contact_describe
{
    position: relative;
    bottom: 100px;
    padding: 20px;
    // font-size: 1px;
    font-family: "Museo Sans 500";
    font-size: 21px;
    max-width: 900px;

    // text-align: end;
}
.contact_title h1
{

    min-width: 1200px;
    font-weight: normal;
    font-family: 'Italiana', serif;
    font-size: 150px;
}
.contact_text_block
{
    align-items: center;
    overflow: hidden;
   margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.contact-logo-block
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.stick
{
    width: 90%;
    height: 3px;
    text-align: center;
    background-color:black;
    transform-origin: center;
}

.stick-cont
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.contact-logo-block
{
    display: flex;
    // justify-content: flex-end;
    width: 100%;
}
.img_content
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.contact-logo-block
{
    order: 5;
}
.contact_text_block
{
    order: 2;
}.contact_title
{
    display: flex;
    justify-content: flex-end;

    margin: 50px;
}
.get_in_cl
{
    margin-left: 200px;
    justify-content: center;
    display: flex;
}
.get_in_cl div
{
   
    margin-left: 100px;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
}

.get_in_cl p
{
 font-family: sans-serif;
}

.location *,.Pnumber *,.Gmail *
{
    margin-top: 15px;
}

h1
{
    overflow: hidden;
}

.ab__title span
{
    position: relative;
}

.loader_img
{
    position: relative;
    overflow: hidden;
    background-color:black;
    width: 100%;
    height: 100%;
}
.loader_img div
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F8F0F0;
}
.p_laoder
{
position: relative;
left: 0px;
}

.contact_title span
{  
    //  top: 0px;
    position: relative;
}


a:hover
{
    cursor: pointer;
}



.contact-container
{
    padding-top: 150px;
}
.nav__block
{
    position: relative;
   left: 10%;
}

a
{
    color:black;
    text-decoration: none;
}




.overlay_block
{
    position: fixed;
    width: 100%;
    height: 100%;
    // border: solid 3px rebeccapurple;
    display: block;
    z-index: 50;
    background-color:black;
    transform: scaleY(0);
}


.works-wrap{
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: #F8F0F0;
}

.wrk-nav
{   
    width: 100%;
    position: fixed;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrk-nav *
{
    margin: 10px;
}

.wrk-info
{
    font-family: 'Bad Script', cursive;
    font-size: 25px;
    margin-right: 50px;
}

.arrow{
    width: 20%;
}

.wrk-container-works
{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;
}

.ex-wrk
{
    flex-direction: column;
    width: 900px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // margin-top: -300px;
   display: flex;
//    justify-content: space-around;
}
.ex-project
{   
    border-radius:8px;
    margin: 20px;
    width: 350px;
    height: 350px;
    background-color: #fff;
}

.ex-project:nth-child(even) 
{
    align-self: flex-end; 
   
}

.ex-project:nth-child(odd) 
{
    align-self: flex-start;
   
}

.arrow-cont svg:hover
{
    
    // transition: .5s;
    transform: translateX(-10px);
}

.arrow-cont svg
{
    transition: .5s;
}

.works-wrap
{
    overflow-x: hidden; 
}